<%- include Partials/header %> <!--Links to the header code-->
<%- include Partials/main_nav %> <!--links to the main navagation code-->


<body>
    <header class="header">
        <div class="logo">
            <h1><b>About Me</b></h1>
        </div>
    </header>
    <hr>
    <!--Above code segment is mean to create the "About Me" Header in the about me page-->

    <section>
    <img src="Asset/images/AboutMePicture.png" alt="Picture-Of-Me" class="about-img">
    <!--linking the picture which is included in the assests folder and presenting it onto the about me page-->
    </section>

    <h3>
        Hey Again! This is a much more recent picture of me; Time really does fly eh?
        These days are quite packed with studying for all my courses, having to balance University, Work, and my own personal life outside of
        both can be at times challenging, but its a good challenge which forces me to adpat and to overcome!
        <!--short paragraph about myself-->
    </h3>
    <hr>

    <!--code below this comment is used to include a short video which I find as a simple addition which adds a bit more user interactivty to the site-->
    <section class = "nostalgicgame">
        <div class ="videogametralier">
            <video controls width="875">
                <source src="Content/Official Trailer - Minecraft Xbox 360 Edition.mp4">
            </video>
        </div>

    </section>

    <hr>


    
</body>






<%- include Partials/footer %> <!--Link to the footer code-->