<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title> <!-- element which will display the title in the browser-->
    <link rel='stylesheet' href='/stylesheets/style.css' /> <!-- Element for stylesheet-->
  </head>
  <body>
    <h1><%= title %></h1> <!--element which will display the title on the actual website itself-->
    <p>Welcome to <%= title %></p> <!--element which will display a sentence-->
  </body>
</html>
