<%- include Partials/header %> <!--Links to the header code-->
<%- include Partials/main_nav %> <!--links to the main navagation code-->

<h1><span class="badge badge-secondary">Home Page</span></h1>
<%- include Partials/Home %> <!--Links to the Home.ejs code-->







<%- include Partials/footer %> <!--Link to the footer code-->

