<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title> <!-- element which will display the title in the browser-->
    <link rel='stylesheet' href='/Content/style.css' /> <!-- Element for stylesheet-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/> <!--Element which links to a specific bootstrap stylesheet-->
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/> <!--Element which specifies which path to take in order to find and implement the font awesome style css-->
  </head>
  <body>
    <h1><%= title %></h1> <!--element which will display the title on the actual website itself-->
    <p>Welcome to <%= title %></p> <!--element which will display a sentence-->
    <script src="/Script/app.js"></script> <!--element which links back to a Script in the Script folder-->
  </body>
</html>
