<%- include Partials/header %> <!--Links to the header code-->
<%- include Partials/main_nav %> <!--links to the main navagation code-->


    
<h1><span class="badge badge-secondary">Projects</span></h1>    


    <main> <!--The main focus of the page will be located within this semantic tag-->
        <section class="Project-Square">
          <article class="Individual-Pocket">
            <h3>Chinese New Year Calender</h3>
            <p>Python script which can tell you what any year is according to the Chinese Calender</p>
          </article>  

          <article class="Individual-Pocket">
            <h3>Key Logger Script</h3>
            <p>Created a Basic python script which tracked a users keystrokes and saved them in a .txt file</p>
          </article>

          <article class="Individual-Pocket">
            <h3>Multi-Site Network</h3>
            <p>Created a virtualized network which spanned several buildings across various cities, all of which could acces the internet </p>
          </article>

          <article class="Individual-Pocket">
            <h3>Investigation into Modern Cybercrime Threats</h3>
            <p>Created a presentation regarding some of the latest Cyber Security threats</p>
          </article>
          <!--Each of these 'individual-pockets' are named that way because they contain a title of a project that I have worked on and a little but of information regarding that project, in a sense, being a little pocket of information about an individual project.-->

        </section>

        <hr>
        

    </main>




























<%- include Partials/footer %> <!--Link to the footer code-->