<!--Code which creates a fixed-bottom navagation bar that appears on all of the pages of the website-->
<nav class="navbar fixed-bottom navbar-dark bg-dark px-3">
  <a class="navbar-brand" href="#">&copy; Copyright 2025. All Rights Reserved</a>




<div>

  <strong href="https://github.com/TechLarkie/Assignment-02" target="_blank" class="text-light mx-2">
    <i class="fab fa-github fa-lg"></i>
  </strong>
  <!--above code adds the github repo icon and a link to the specific repository which this project is located in-->
  

  <a href="www.linkedin.com/in/zeiad-alarkan-b76079251" target="_blank" class="text-light mx-2">
    <i class="fab fa-linkedin fa-lg"></i>
  </a>
  <!--above code adds the linkedin account link right next to the github link-->

</div>


</nav>