<!DOCTYPE html>

<html>
  <head>
    <title><%= title %></title> <!-- element which will display the title in the browser-->
    <link rel='stylesheet' href='/Content/style.css' /> <!-- Element for stylesheet-->
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css"/> <!--Element which links to a specific bootstrap stylesheet-->
    <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css"/> <!--Element which specifies which path to take in order to find and implement the font awesome style css-->
    <script src="/jquery/dist/jquery.min.js"></script> <!--added the script element for the implementation of jquery-->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script> <!--added the script element for the implementation of the bootstrap.min.js-->
  </head>



  <body>