<head>

<hr>
<span><p style="color:aliceblue"><big>Hello! My name is Zeiad Alarkan and this is my new website!</big></span> 
<!--Code which is simple and used for just the inital landing pages text box. It is kept in the partials folder as a way of keeping the index.ejs clean-->
<hr>

</head>